<ion-header>
  <ion-searchbar mode="md" color="secondary" (click)="loadCachedData()" (ionChange)="search($event)"></ion-searchbar>
</ion-header>
<app-progress-bar *ngIf="isLoading" [progress]="loadProgress"></app-progress-bar>

<ion-content class="home-page">
  <!-- <section id="snow"></section> -->
  <div class="city-list" *ngIf="cityList; else emptyState">
    <city-item (click)="goToDetails(city)" *ngFor="let city of cityList;" [data]="city"></city-item>
  </div>
 <!--  <div class="city-list">
    <city-item (click)="goToDetails(city)" *ngFor="let city1 of cachedCityList;" [data]="city1"></city-item>
  </div> -->
  <ng-template #emptyState>
    <empty-state [query]="query"></empty-state>
  </ng-template>
</ion-content>